.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


/* left side of dashboard*/

.leftContainer {
    flex: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 2rem;

}


.dashboardTop {
    display: flex;
    flex-direction: row;

width:75%;

  
    justify-content: space-around;
    border-radius: .5rem;
flex:1;
}




/* right side of dashboard*/

.rightContainer {
    display: flex;
    height: 100%;
    width:25%;
    justify-content: center;
}

