/* chart */
.chartContainer {
    display: flex;
    flex-direction: column;
    border-radius: 1.2rem;
    align-items: center;
    min-width: 80%;
    max-width: 100%;
    flex:1;
    border-radius: .5rem;
    padding-top: 1rem;
     min-height: clamp(200px, 40vh, 400px);
}

.chartCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin-left: 5rem;
}


.chartSettings {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 2rem;
}

.periodWrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.period {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.period.selected {
    color: green;

}

.viewing {
    width: 100%;
    text-align: center;
    opacity: .7;
    font-size: .8rem;
    margin-bottom: 1rem;
}

*:focus {
    outline: none;
}

@media (max-width: 1024px) {
    .chartCard {
        margin: 0;
    }


}

@media (max-width: 768px) {
    .viewing {
        text-align: start;
    }

    .chartsContainer{
        width: 100%;
    }
    
       .periodWrapper, .viewing {
        align-items: center;
        justify-content: center;
    }

    .chartSettings {
        flex-direction: row;
        padding-bottom: 1rem;
        justify-content: center;
    }

    .chartCard {
        margin-left: -2rem;
    }
}

@media (max-width: 480px) {
    .chartSettings {
        flex-direction: column;
        padding-bottom: 1rem;
        justify-content: center;

    }

       .chartsContainer{
        width: 100%;
    }

    .periodWrapper, .viewing {
        align-items: center;
        justify-content: center;
    }

    
}