.second-container {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding-top: 5rem;

}

.content-wrapper {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #0E1F2F;
    padding: 5rem;
}

.second-title {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 70%;
    margin: 0 auto;
}


.card {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 22rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
}


.card img {
    width: 5rem;
    margin-top: auto;
}


.card p {
    margin-bottom: auto;
}

.url-count {
    margin-bottom: auto;
}