.bottom-container {
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    width: 100%;
    height: 15rem;
    background-color: #0A1622;
    margin: 0;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}



.bottom-container p {
    margin: 0;
}

.bottom-container h1 {
    margin: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.bottom-container h2 {
    margin: 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.contact-container a {
    text-decoration: none;
    color: inherit;
}