.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
    gap: 1.5rem;
    height: fit-content;
    align-self: center;
    width: 20rem;
 background: #F2F5FB;
  box-shadow: 5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;

    border-radius: 1rem;
    height: 18rem;

}


.inputTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
}



.inputTitle p {
    margin: 0;
}


.aliasDesc {
    margin: 0;
    opacity: .8;
    font-size: .8rem;
}


.shortenBtn {
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    background-color: rgb(93, 134, 93);
    cursor: pointer;
    color: white;
    transition: .2s;
    font-weight: bold;
}


.shortenBtn:hover {
    background-color: rgb(46, 64, 46);
}


/*-------------------*/



.recent-container {
    width: 100%;
}

.links-container {
    border-radius: .5rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.links-text {
    position: absolute;
    margin-left: 1rem;
    font-weight: bold;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-wrapper {
    margin-top: 3rem;
    width: fit-content;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
}

input {
    width: 100%;
    height: 2rem;
    border-radius: .5rem;
    text-align: center;
    border: none;
    margin: 0;

}

