.oldEmail,
.newEmail {
    opacity: .9;
    font-weight: bold;
}

.oldEmail {
    color: red;
}

.newEmail {
    color: green;
}


.emailUpdatedText {
    font-size: .9rem;
    opacity: .9;
    margin: 0;
}