.deleteAccountContainer {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.deleteAccountIcon {
    color: red;
    width: 1.5rem;
    height: 1.5rem;
}

.warningTop,
.warningBottom {
    margin: 0;
}

.warningTop {
    font-weight: bold;
}

.warningBottom {
    opacity: .9;
}

.deleteAccount,
.cancelDeletion {
    width: 10rem;
    height: 2rem;
    border-radius: .5rem;
    font-weight: bold;
    transition: 0.2s all ease;
    cursor: pointer;
}

.deleteAccount {
    background-color: red;
    color: white;
    border: none;
}

.deleteAccount:hover {
    background-color: rgb(203, 0, 0);
}


.cancelDeletion {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    cursor: pointer;
}



.cancelDeletion:hover {
    background-color: rgb(241, 241, 241);
}