
.widgetsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
flex:1;
}


.widgetsRow {
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 3rem;
    height: 100%;
}

.visitsWidget, .popularWidget {
    display: flex;
    justify-content: center;
    font-size:1.2rem;
    max-width: 17rem;
    height: 100%;
    border-radius: 1rem;
    text-align: center;
    color: black;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.visitsToday{
    margin:0;
}


.visitsWidget:hover,
.popularWidget:hover {
    transform: scale(1.05);
}

.trend {
    font-weight: bold;
    font-size: .8rem;
    opacity: .9;
}

.trend.up {
    color: rgb(145, 192, 145);
}

.trend.down {
    color: rgb(255, 52, 52);

}


/* most popular url widget */


.mostPopular {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.3rem 0;
}

.mostPopularVisits{
    color:green;
    font-weight: bold;

}
.zapIcon, .eyeIcon{
    color:#fbbf24;

    height: 1.5rem;
    opacity: .7;
    width: 1.5rem;
}


.eyeIcon{
color:#22c55e;
}

.popularText, .visitsText{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    font-size: 1rem;
  

}

.popularContainer .mostVisits {
    color: rgb(145, 192, 145);
    font-weight: bold;
}


.visitsRow {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.3rem;
}



.mostPopularVisits, .visitsToday{
       color: #685AFF;
}